<div class="podcast-detail-container">
  <section>
    <div
      *ngFor="let item of podcastItem | async"
      class="podcast-detail-card"
      (click)="onBackPodcastList()">
      <app-podcast-card
        [podName]="item.collectionName"
        [podDescription]="item.artistName"
        [podSumary]="podcasteItemDescription"
        [podImageSrc]="item.artworkUrl100" />
    </div>
  </section>
  <section *ngIf="!isLoadingEpisodes">
    <ng-container *ngIf="showMP3orTable; else mp3Component">
      <app-episodes-table
        [episodesData]="episodesList"
        (emitIdToParent)="changeRouteEpisode($event)" />
    </ng-container>
    <ng-template #mp3Component>
      <!-- <app-mp3 /> -->
    </ng-template>
  </section>
</div>
