<section>
  <div class="main-container">
    <ul class="grid-wrapper">
      <li>podcast component 1</li>
      <li>podcast component 2</li>
      <li>podcast component 3</li>
      <li>podcast component 4</li>
      <li>podcast component 5</li>
      <li>podcast component 6</li>
      <li>podcast component 7</li>
      <li>podcast component 8</li>
      <li>podcast component 9</li>
      <li>podcast component 10</li>	
      <li>podcast component 11</li>	
      <li>podcast component 12</li>	
    </ul>
  </div>
</section>