<section>
  <div class="search-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Filter podcasts...</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="value"
        (input)="onSearchInput($event)" />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchField()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</section>
<section>
  <div class="main-container">
    <ul class="grid-wrapper">
      <li
        *ngFor="let podcast of podcastList | podcastsFilter : value"
        [value]="podcast['title']" (click)="onPodcastDetail(podcast.id.attributes['im:id'])">
        <app-podcast-avatar
          [name]="podcast['im:name'].label"
          [description]="podcast['im:artist'].label"
          [imageSrc]="podcast['im:image'][0].label" />
      </li>
    </ul>
  </div>
</section>
